
adapter driver bcm2835gpio
bcm2835gpio_peripheral_base 0xFE000000
bcm2835gpio_speed_coeffs 146203 36

# SWD: CLK=21 (Pin 40), DIO=20 (Pin 38)
bcm2835gpio_swd_nums 21 20

transport select swd
set CHIPNAME gd32f1x
source [find target/stm32f1x.cfg]
reset_config none
adapter speed 1000

